main {
  margin-top: 130px;
}

section {
  margin-bottom: 80px;
  box-shadow: rgba(0,0,0,.419608) 0px 14px 26px -12px, rgba(0,0,0,.117647) 0px 4px 23px 0px, rgba(0,0,0,.2) 0px 8px 10px -5px;
}

h1 {
  text-align: center;
  font-size: 39px;
  font-weight: 300;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 10px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  height: 500px;
  background-image: url('../../images/background_description.png');
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-weight: 600;
    font-size: 39px;
    padding-bottom: 30px;
  }

  &_text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 40%;
    color: white;

    p {
      font-family: 'Playfair Display', serif;
      font-size: 25px;
    }
  }

  &_photo {
    background-color: black;
    box-shadow: rgba(0,0,0,.419608) 0px 14px 26px -12px, rgba(0,0,0,.117647) 0px 4px 23px 0px, rgba(0,0,0,.2) 0px 8px 10px -5px;
    width: 250px;
    height: 300px;
  }
}

.formation {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  color: #333333;

  &_container {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
  }

  &_card {
    display: flex;
    flex-direction: column;
  }

  &_link {
    text-decoration: none;
    color: #333333;

    &:hover {
      color:#7e7b7b;
    }
  }

  &_logo{
    width: 210px;
  }

  &_img{
    width: 400px;
  }
}